<% provide(:title, "Log in") %>
<div class="col-lg-12 text-center">
<%= form_for(:session, html: {class: "col-lg-4", id: "login-form"}, url: login_path) do |form| %>

    <div class="form-group-condensed small login-error">
      <%= content_tag(:div, @loginError) if @loginError %>
    </div>

    <div class="field form-group-condensed">
      <%= form.text_field :email, class:'form-control', type:'email',id:'email', placeholder:'Email' %>
    </div>

    <div class="field form-group">
      <%= form.password_field :password, class:'form-control', type:'password',id:'password', placeholder:'Password' %>
    </div>

    <div class="actions">
      <%= form.submit "Log in",  :class=>'btn btn-primary form-control orange-button' %>
    </div>

    <div class="small text-right"><%= link_to 'Forgot Password?', '#' %></div>
    <div class="small text-right">Don't have an account? <%= link_to 'Sign up', new_user_path %></div>

<% end %>

</div>
