<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2>Sorry, please correct the follwing <%= pluralize(user.errors.count, "error") %> to sign up</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :user_phone %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, class:'form-control' %><br/>
    </div>

    <div class="field">
      <%= form.label 'Preferred  Recharge Amount ' %>
      <%= form.number_field :prefAmount, id: :user_prefAmount %>
    </div>

    <div class="field">
      <%= form.label 'Preferred Wireless Provider' %>
      <%= form.select :prefProvider, options_for_select(User::PREF_PROVIDER, params[:prefProvider]), include_blank: 'Select your preferred provider.' %>
    </div>

    <div class="field">
      <%= form.label 'Preferred Location' %>
      <%= form.select :prefLocation, options_for_select(User::PREF_LOCATION, params[:prefLocation]), include_blank: 'Select your preferred pickup location.' %>
    </div>

    <div class="actions">
      <h2> </h2>
      <%= form.submit "Sign Up" %>
    </div>

<% end %>
