<%= form_with(model: user, local: true, class:'col-lg-5', id:'signup-form') do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2>Sorry, please correct the following <%= pluralize(user.errors.count, "error") %> to sign up</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group-condensed">
      <%= form.text_field :name, id: :user_name, class:'form-control', type:'text', placeholder:'Full name' %>
    </div>

    <div class="field form-group-condensed">
      <%= form.text_field :email, id: :user_email, class:'form-control', type:'email', placeholder:'Email' %>
    </div>

    <div class="field form-group-condensed">
      <%= form.text_field :phone, id: :user_phone, class:'form-control', type:'text', placeholder:'Phone number' %>
    </div>

    <div class="small">Choose a password of at least 6 characters</div>
    <div class="field form-group-condensed">
      <%= form.password_field :password, :value=>@user.password, id: :user_password, class:'form-control', type:'password', placeholder:'Password' %>
    </div>

    <div class="field form-group-condensed">
      <%= form.number_field :prefAmount, id: :user_prefAmount, class:'form-control', type:'text', placeholder:'Preferred recharge amount' %>
    </div>

    <div class="field form-group-condensed">
      <%= form.select :prefProvider, options_for_select(@providers.map { |obj| [obj['provider'], obj['id']] }, @user.prefProvider), {prompt: 'Select your preferred service provider'}, {class:'form-control', id: 'user_prefProvider', name: 'preferredProvider'}  %>
    </div>

    <div class="field form-group">
      <%= form.select :prefLocation, options_for_select(@locations.map { |obj| [obj['location'], obj['id']] }, @user.prefLocation), {prompt: 'Select your preferred pickup location'}, {class:'form-control', id: 'user_prefLocation', name: 'preferredLocation'}  %>
    </div>

    <div class="actions">
      <% if !current_user %>
        <%= form.submit "Sign Up",  :class=>'btn col-lg-12 orange-button' %>
      <% else %>
        <%= form.submit "Save",  :class=>'btn col-lg-12 orange-button' %>
      <% end %>
    </div>

<% end %>
