
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Prefprovider:</strong>
  <%= @user.prefProvider %>
</p>

<p>
  <strong>Prefamount:</strong>
  <%= @user.prefAmount %>
</p>

<p>
  <strong>Preflocation:</strong>
  <%= @user.prefLocation %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
