<%= form_with(model: transaction, local: true, class: 'col-lg-6', id: 'schedule-form') do |form| %>
  <% if transaction.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group-condensed">
    <%= form.number_field :amount, id: :transaction_amount, class: 'form-control', placeholder: '$ Amount' %>
  </div>

  <div class="field form-group-condensed">
    <%= form.number_field :phoneNumber, :value=>@loggedin_user.phone, id: :transaction_phoneNumber, class: 'form-control' %>
  </div>

  <div class="field form-group-condensed">
    <%= form.select :provider, options_for_select(@providers.map { |obj| [obj['provider'], obj['id']] }, @loggedin_user.prefProvider), {prompt: 'Select your service provider'}, {id: :transaction_provider, class: 'form-control'} %>
  </div>

  <div class="field form-group-condensed">
    <%= form.select :location, options_for_select(@locations.map { |obj| [obj['location'], obj['id']] }, @loggedin_user.prefLocation), {prompt: 'Select location'}, {id: :transaction_location, class: 'form-control'} %>
  </div>

  <div class="field form-group-condensed">
    <label for="scheduledPickupStartDT">scheduledPickupStartDT</label>
    <%= form.datetime_select :scheduledPickupStartDT, id: :transaction_scheduledPickupStartDT, class: 'form-control', label: 'scheduledPickupStartDT' %>
  </div>

  <div class="field form-group-condensed">
    <label for="scheduledPickupEndDT">scheduledPickupEndDT</label>
    <%= form.datetime_select :scheduledPickupEndDT, id: :transaction_scheduledPickupEndDT, class: 'form-control', disabled: 'true' %>
  </div>

  <div class="field form-group-condensed">
    <%= form.datetime_select :rechargeDueDT, id: :transaction_rechargeDueDT, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.text_area :remarks, id: :transaction_remarks, class: 'form-control', placeholder: 'Any comments/remarks...', rows: '4', cols: "30" %>
  </div>

  <div class="actions form-group">
    <%= form.submit "Schedule",  :class=>'btn col-lg-12 orange-button' %>
  </div>
<% end %>
