<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Phonenumber</th>
      <th>Provider</th>
      <th>Location</th>
      <th>Status</th>
      <th>Scheduledpickupstartdt</th>
      <th>Scheduledpickupenddt</th>
      <th>Messagedpickupdt</th>
      <th>Pickedupdt</th>
      <th>Rechargeduedt</th>
      <th>Rechargeddt</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user.name%></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.phoneNumber %></td>
        <td><%= transaction.provider %></td>
        <td><%= transaction.location %></td>
        <td><%= transaction.status %></td>
        <td><%= transaction.scheduledPickupStartDT %></td>
        <td><%= transaction.scheduledPickupEndDT %></td>
        <td><%= transaction.messagedPickupDT %></td>
        <td><%= transaction.pickedUpDT %></td>
        <td><%= transaction.rechargeDueDT %></td>
        <td><%= transaction.rechargedDT %></td>
        <td><%= transaction.remarks %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

