<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">All Phone Toys</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if !session[:user_id] %>
        <li>
          <%= link_to users_path do %>
            All users</a>
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to transactions_path do %>
            <% if session[:user_id] %> My transactions
            <% else %> Transactions
            <% end %>
          </a>
          <% end %>
        </li>
        <% if !session[:user_id] %>
        <li>
          <%= link_to "#" do %>
            Pickups</a>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Recharges</a>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Locations</a>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Providers</a>
          <% end %>
        </li>
        <% end %>
        <% if session[:user_id] %>
        <li>
          <%= link_to schedulePickup_path do %>
            Schedule a pickup</a>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            Edit profile</a>
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            Log out</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
