<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">All Phone Toys</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if !session[:user_id] %>
          <li>
            <%= link_to users_path, :class => cp(users_path) do %>
              All users
            <% end %>
          </li>
        <% end %>
        <li class="transactions">
          <%= link_to transactions_path, :class => cp_transactions(transactions_path) do %>
            <% if session[:user_id] %> My transactions
            <% else %> Transactions
            <% end %>
          <% end %>
        </li>
        <% if !session[:user_id] %>
          <li class="pickups">
            <%= link_to todaysPickups_path, :class => cp(todaysPickups_path) do %>
              Today's Pickups
            <% end %>
          </li>
          <li class="recharges">
            <%= link_to todaysRecharges_path, :class => cp(todaysRecharges_path) do %>
              Today's Recharges
            <% end %>
          </li>
          <li>
            <%= link_to locations_path, :class => cp(locations_path) do %>
              Locations
            <% end %>
          </li>
          <li>
            <%= link_to providers_path, :class => cp(providers_path) do %>
              Providers
            <% end %>
          </li>
        <% end %>
        <% if session[:user_id] %>
          <li>
            <%= link_to schedulePickup_path, :class => cp(schedulePickup_path) do %>
              Schedule a pickup
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user), :class => cp(edit_user_path(current_user)) do %>
              Edit profile
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            Log out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
